name: Deploy Documentation
run-name: "OpenAPI Documentation on ${{ github.ref_name }}"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/openapi-docs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          pip install mkdocs-material
          pip install mkdocs-gen-files
          pip install mkdocs-literate-nav
          pip install mkdocs-git-revision-date-localized-plugin
          pip install mkdocs-macros-plugin
          pip install mkdocs-glightbox
          pip install mkdocs-awesome-pages-plugin

      - name: Deploy docs
        run: mkdocs gh-deploy --force
